<ion-header [translucent]="true">
    <div class="toolbar-background-shape" color="primary"></div>
    <ion-toolbar color="primary">
        <ion-button slot="start" fill="clear" href="/home">
            <ion-img src="../../assets/duckeat_logo.png" alt="duckeat_logo" class="header-logo"></ion-img>
        </ion-button>

        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <!--<ion-button slot="end" (click)="authServiceService.logout()">Log out</ion-button>-->
    </ion-toolbar>
</ion-header>