.margin {
  margin-left: 32px;
}

.notes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes{
  width: fit-content;
  height: fit-content;
  padding: 8px 16px;
  border-radius: 5px;
}
