<ion-modal [isOpen]="isOpen">
    <!--(willDismiss)="onWillDismiss($event)"-->
    <ng-template>
        <app-header></app-header>

        <ion-fab slot="fixed" vertical="top" horizontal="start" (click)="closeModal()">
            <ion-fab-button color="secondary">
                <ion-icon name="chevron-up-circle"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-content class="ion-padding">
            <ion-card>
                <img src="https://img.freepik.com/vecteurs-libre/menu-restaurant-moderne-pour-restauration-rapide_52683-48982.jpg?w=1380&t=st=1686270072~exp=1686270672~hmac=0c82c6e408cac8d86de1db12c8b39e016d398975f36b6a058ed5290b192339f6" alt="">
                <ion-card-header>
                    <ion-card-title>Découvrez nos offres exclusives</ion-card-title>
                    <ion-card-subtitle><a href="https://www.elitesteakhouse.fr/">Réservez en ligne dès maintenant !</a></ion-card-subtitle>
                </ion-card-header>
            </ion-card>
            <app-map></app-map>

            <div class="notes-container">
                <app-star-ranking [value]="2.5"></app-star-ranking>
            </div>

            <!--<div *ngFor="let c of comments">
        <app-comments [comment]="c"></app-comments>
      </div>-->
        </ion-content>

        <div *ngIf="restaurant !== undefined">
            <app-footer [title]=restaurant.name></app-footer>
        </div>
    </ng-template>
</ion-modal>