<div class="container column">
  <ion-toolbar color="secondary" class="center column bloc ion-padding">
    <ion-text class="ion-text-center">
      <div class="text">
        Pas d'idée en tête ? <br>
        Pas de soucis on a la solution !
      </div>
    </ion-text>
    <ion-button class="center btn small ion-text-center">Piocher</ion-button>
  </ion-toolbar>

  <ion-toolbar color="secondary" class="center column bloc ion-padding">
    <ion-text class="ion-text-center">
      <div class="text">
        Vous savez ce que vous voulez ? <br>
        Voici nos meilleures adresses :
      </div>
    </ion-text>

    <ion-button class="center btn small ion-text-center"> Choisir </ion-button>
  </ion-toolbar>
</div>

