<app-side-menu></app-side-menu>
<app-header [title]="title"></app-header>

<ion-content class="ion-padding" id="main-content">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

  <ng-container *ngIf="!isLoading && restaurant">
    <ion-button class="ion-margin-bottom" fill="outline" color="dark" [routerLink]="['../../']" routerDirection="back" expand="block">
      <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
      Retourner à la liste des restaurants
    </ion-button>

    <ion-button [routerLink]="['../edit']" expand="block">
      <ion-icon slot="start" name="pencil-outline"></ion-icon>
      Éditer le restaurant
    </ion-button>

    <app-restaurant-details [restaurant]="restaurant"></app-restaurant-details>
  </ng-container>

  <app-inline-alert [alertType]="InlineAlertType.info" *ngIf="!isLoading && !restaurant"
                    title="Aucun restaurant n'a pu être chargé"
                    content="La restaurant demandé n'existe pas ou a était supprimé.">
    <ion-button color="dark" fill="solid" [routerLink]="['../../']">
      <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
      Aller à la liste des restaurants
    </ion-button>
  </app-inline-alert>
</ion-content>

<app-footer></app-footer>
