<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

<app-inline-alert title="Aucun restaurant a afficher" *ngIf="!isLoading && restaurants.length === 0">
    <ion-button color="dark" fill="solid" [routerLink]="['add']">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Créer votre premier restaurant
    </ion-button>
</app-inline-alert>

<ion-grid>
  <ion-row>
    <ion-col *ngFor="let restaurant of restaurants" size="12" size-md="6" size-xl="4">
      <app-restaurant-card [restaurant]="restaurant" (deleteRestaurantId)="deleteRestaurant($event)"></app-restaurant-card>
    </ion-col>
  </ion-row>
</ion-grid>
