.map-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.map-frame {
    border: 3px solid #206c7c;
    height: 50vw;
}

#map {
    height: 100%;
}