  <ion-fab slot="fixed" vertical="top" horizontal="start" (click)="setOpen(true)">
    <ion-fab-button color="primary">
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="restaurant image">
  </ion-img>

  <ion-toolbar>
    <ion-title>Restaurant Name</ion-title>
  </ion-toolbar>

  <ion-text>
    <p class="margin">Restaurant Address, City</p>

    <div class="notes-container">
      <app-star-ranking></app-star-ranking>
    </div>
  </ion-text>

  <ion-modal [isOpen]="isModalOpen"> <!--(willDismiss)="onWillDismiss($event)"-->
    <ng-template>
      <app-header></app-header>

      <ion-fab slot="fixed" vertical="top" horizontal="start" (click)="setOpen(false)">
        <ion-fab-button color="secondary">
          <ion-icon name="chevron-up-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-content class="ion-padding">
        <app-map></app-map>
      </ion-content>
    </ng-template>
  </ion-modal>
