<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Menu</ion-title>
      <ion-menu-toggle slot="end">
        <ion-button shape="round" size="small" fill="clear">
          <ion-icon slot="icon-only" name="close"/>
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list style="text-align:center">

      <ion-item>
        <ion-menu-toggle color="transparent">
          <ion-button (click)="authServiceService.logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Log out
          </ion-button>
        </ion-menu-toggle>
      </ion-item>

      <ion-item *ngIf="this.currentURL != pathToHome">
        <ion-menu-toggle>
          <ion-button (click)="redirectToHome()">
            <ion-icon slot="start" name="home"></ion-icon>
            Home
          </ion-button>
        </ion-menu-toggle>
      </ion-item>

      <ion-item *ngIf="this.currentURL != pathToFavorites">
        <ion-menu-toggle>
          <ion-button (click)="redirectToFavorites()">
            <ion-icon slot="start" name="heart"></ion-icon>
            Favorites
          </ion-button>
        </ion-menu-toggle>
      </ion-item>

      <!--<ion-item *ngIf="this.currentURL != pathToMesRestaurants">
        <ion-menu-toggle>
          <ion-button (click)="redirectToMesRestaurants()">
            <ion-icon slot="start" name="restaurant-outline"></ion-icon>
            Mes restaurants
          </ion-button>
        </ion-menu-toggle>
      </ion-item>-->

    </ion-list>
  </ion-content>
</ion-menu>
