/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.header {
    background-color: #048B9A;
    max-height: 1vh;
}

.header-logo {
    height: 5vh;
    width: 5vw;
    min-width: 40px;
    min-height: 40px;
}

.footer {
    background-color: #035a64;
}

.container {
    height: 45vh;
    position: relative;
}

.center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.column {
    flex-direction: column;
}

.bloc {
    display: flex;
    flex-direction: column;
    width: 75vw;
    border-radius: 10px;
    margin-bottom: 4vh;
}

.btn.small {
    margin-top: 5vh;
    margin-bottom: -1vh;
}

div.text {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 200%;
}

app-header {
    .toolbar-background-shape {
        background-color: #206c7c;
        position: absolute;
        border-radius: 50%;
        height: 25vh;
        width: 120%;
        transform: translate(-9vw, -12vh);
    }
    ion-header::after {
        display: none;
    }
    img {
        display: none;
    }
}

app-welcome {
    ion-content {
        transform: translateY(10vh);
        --offset-bottom: 5rem !important;
    }
    ion-card {
        margin: 1rem 3rem 1rem 3rem;
        border-radius: 1rem;
        border: 3px solid darkgrey;
        ion-card-header {
            outline: 3px solid darkgrey;
        }
    }
}

ion-content.ion-padding,
ion-fab {
    transform: translateY(10vh);
}

app-authentication {
    img {
        display: block;
        transform: translateX(20vw);
        position: absolute;
        height: 16rem;
    }
    app-header {
        .toolbar-background-shape {
            background-color: #206c7c;
            position: absolute;
            border-radius: 50%;
            height: 58vh;
            width: 112%;
            transform: translate(-5.75vw, -36vh);
        }
    }
    ion-toolbar {
        display: none;
    }
    ion-content {
        transform: translateY(40vh);
    }
    app-connection,
    app-inscription {
        ion-button {
            margin: 2rem 6rem;
        }
    }
}

app-star-ranking {
    display: flex;
    justify-content: center;
}

.favorites-list {
    transform: translateY(10vh);
}

ion-modal {
    ion-card {
        margin: 1rem 2rem 1rem 2rem;
        border: 3px solid #206c7c;
        ion-card-header {
            outline: 3px solid #206c7c;
        }
    }
}